*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.language-btn {
    color: #0284c7;
    border: 1px solid #007BFF;
    background-color:transaparent;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.language-btn-inactive{
    border:none;
    outline: none;
    background-color:transaparent;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 5px;
}